openapi: 3.0.3
info:
  title: Dataverse Access Notifications API
  description: Open source research data repository software.
  version: '6.9'
servers:
- url: https://dataverse.nl
tags:
- name: Notifications
paths:
  /notifications/all:
    get:
      operationId: Notifications_getAllNotificationsForUser
      parameters:
      - name: inAppNotificationFormat
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          format: int32
          type: integer
      - name: offset
        in: query
        schema:
          format: int32
          type: integer
      - name: onlyUnread
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedEmails:
    get:
      operationId: Notifications_getMutedEmailsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedEmails/{typeName}:
    put:
      operationId: Notifications_muteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
    delete:
      operationId: Notifications_unmuteEmailsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedNotifications:
    get:
      operationId: Notifications_getMutedNotificationsForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/mutedNotifications/{typeName}:
    put:
      operationId: Notifications_muteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
    delete:
      operationId: Notifications_unmuteNotificationsForUser
      parameters:
      - name: typeName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/unreadCount:
    get:
      operationId: Notifications_getUnreadNotificationsCountForUser
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/{id}:
    delete:
      operationId: Notifications_deleteNotificationForUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Notifications
  /notifications/{id}/markAsRead:
    put:
      operationId: Notifications_markNotificationAsReadForUser
      parameters:
      - name: id
        in: path
        required: true
        schema:
          format: int64
          type: integer
      responses:
        '200':
          description: OK
      tags:
      - Notifications
