openapi: 3.2.0
info:
  title: University of Groningen Ocasys Course Catalog Organization…
  version: 2026-2027
  summary: Keyless read API behind Ocasys, the University of Groningen course and programme catalog.
  description: Ocasys (ocasys.rug.nl) is the University of Groningen's own course and degree-programme catalog.
  contact:
    name: University of Groningen — Center for Information Technology
    url: https://www.rug.nl/society-business/center-for-information-technology/
  termsOfService: https://www.rug.nl/info/disclaimer-copyright
  license:
    name: No licence published for the interface or its data
    identifier: NOASSERTION
servers:
- url: https://ocasys.rug.nl/api
  description: Production Ocasys backend (institution-operated, verified live 2026-08-30)
tags:
- name: Organization
  description: Faculties and departments used to scope courses and programmes.
paths:
  /orgunit/faculties-and-universities:
    get:
      tags:
      - Organization
      operationId: listFacultiesAndUniversities
      summary: List faculties and the university root organizational unit
      responses:
        '200':
          description: Organizational units
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationalUnit'
components:
  schemas:
    OrganizationalUnit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
        titleEn:
          type: string
        titleNl:
          type: string
        ouClass:
          type: string
          enum:
          - UNIVERSITY
          - FACULTY
          - DEPARTMENT
        parent:
          type:
          - string
          - 'null'
          format: uuid
x-method: probed
x-generated: '2026-08-30'
x-source:
- https://ocasys.rug.nl/api/year-status
- https://ocasys.rug.nl/api/orgunit/faculties-and-universities
- https://ocasys.rug.nl/api/2026-2027/course?searchTerm=biology
- https://ocasys.rug.nl/api/2026-2027/course/WMMB015-05
- https://ocasys.rug.nl/api/2026-2027/course/page/WMMB015-05
- https://ocasys.rug.nl/api/2026-2027/program?searchTerm=biology
- https://ocasys.rug.nl/api/2026-2027/option-list
- https://ocasys.rug.nl/api/year/next-academic-year-start-date
x-operator: institution
