openapi: 3.0.3
info:
  title: Dataverse Access role API
  description: Open source research data repository software.
  version: '6.9'
servers:
- url: https://dataverse.nl
tags:
- name: role
paths:
  /roles:
    get:
      tags:
      - role
      summary: Lists all assignable roles
      description: Lists all assignable roles that are currently available
      operationId: role_get_assignable_roles
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AssignableRole'
  /roles/{assignableRoleName}:
    get:
      tags:
      - role
      summary: Returns an assignable role
      description: Returns an assignable role if it is currently available
      operationId: role_get_assignable_role
      parameters:
      - name: assignableRoleName
        in: path
        description: Get assignable role from assignable role name.
        required: true
        schema:
          pattern: .+
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssignableRole'
components:
  schemas:
    LocalizedString:
      type: object
      additionalProperties:
        type: string
        description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
        nullable: true
        example: '{"en_GB":"Some text"}'
      description: 'A set of string values, one for each submission locale. Note: invalid locale values will be ignored.'
      nullable: true
      example:
        en_GB: Some text
    AssignableRole:
      required:
      - assignableRoleName
      type: object
      properties:
        assignableRoleName:
          type: string
          description: The name of the assignable role
        targetSystemName:
          type: string
          description: The name of the target system
          nullable: true
        title:
          $ref: '#/components/schemas/LocalizedString'
      description: An assignable role
